<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Task Manager{% endblock %}</title>
    <!-- Link to the stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <!-- Add your navigation items here -->
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>Developed by: Arjun Padalghare</p>
    </footer>
</body>
</html>
